

/*---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
READ ME: This for the kanji dictionary pop up included in the deck.
The kanji dictionary pop-up may display more information than you want.
Add "none" to "display: ;" to hide the field you don't want, like this: "display: none;". You can also change the size of text.
Strong and italic colorize words in for the RTK stories.
Kanji, reading and radical are for colorizing keywords in the wanikani stories.
You can see the instruction here: https://imgur.com/a/OATxzm0
---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
#Pop_Kanji {display:		 ; font-size: 200%}
#Pop_KondanshaKeyword {display: 		; font-size: 100%}
#Pop_HeisigKeyword {display: 		; font-size: 100%}
#Pop_Gif {display: 		; zoom: 50%;}
#Pop_Compo {display:			 ; font-size: 100%; text-align: center;}
#Pop_Heisig {display:		 ; font-size: 100%}
#Pop_KoohiiStories {display:		 ;font-size: 100%}
#Pop_Wanikani {display:		 ;font-size: 100%}
#Pop_Table {display: 		;font-size: 100%}
#Pop_Links {display: 		;font-size: 100%}

strong {font-weight: 6000; color: #f9dc24;}
i {font-weight: 550; color: #f9dc24;}

kanji {color: #f100a1; font-weight:800; }
reading {color: #484848; font-weight:800; }
radical {color: #00a0f1; font-weight:800; }


/*---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
READ ME: Change to "display:none;" to erase the sound button. The button may appear depending on your device and preferences
---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
#Audio_Sentence {display: none;}
#Audio_Extra {display: none ;}


/*---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
READ ME: This changes the picture size. You can change the zoom percentage to fit your screen
---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
#ScreenshotFront {zoom:100%;}
#ScreenshotBack {zoom:100%; }


/*---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
READ ME: This changes the front picture size on phones. You can change the zoom percentage to fit your screen
---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.mobile #ScreenshotFront {zoom: 75%;}
.mobile #ScreenshotBack {zoom: 100%;}


/*---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
READ ME: This hides furigana unless your mouse is over the text.
---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.ruby rt { visibility: hidden; }
.ruby:hover rt { visibility: visible; }


/*---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
READ ME: This hides a text unless your mouse is over.
---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.Opacity {opacity: 0.0;}
.Opacity:hover {opacity: 1;}


/*---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
READ ME: This changes the color of links or the hints.
---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
a:link {color: #72a6d3;}


/*---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
READ ME: This changes the card overall look.
It can also applies to the Kanji dictionary pop-up.
Beware that if you don't use a japanese font, kanji will be shown in chinese by default.
MS Pincho is a japanese font included in the deck.
The scrollbar is hidden to keep the shape of the card from front to back.
---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.card {
font-family: MS PMincho;
font-size: 20px;
color: #BDC7C1;
text-align: center;
background-color: #272828;
}

::-webkit-scrollbar {
    display: none;
}


/*---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
READ ME: This changes the target / focus Morph only
---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.Morph {
font-family: MS PMincho;
color: #e48872;
font-size: 40px;
padding: 10px 0px 5px 0px;
margin: 0px 0px 0px 0px;
 background: #142634;
border-radius: 15px 15px 0px 0px;
}


/*---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
READ ME: This changes the defintion only
---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.Definition {
font-size: 20px;
 font-family: MS PMincho;
 text-align: center;
 color: #BDC7C1;
 background: #54666B;
border-radius: 0px 0px 25px 25px;
 padding: 10px 10px 10px 10px;
 margin: 0px 0px 0px 0px;
}


/*--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- 
READ ME: This changes the part with the japanese sentence
---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.Reading {
 font-family: MS PMincho;
 font-size: 30px;
 text-align: center;
 color: #BDC7C1;
 padding: 0px 0px 10px 0px;
 margin: 20px 0px 0px 0px;
}


/*---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
READ ME: This changes the english sentence
---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.English {
font-family: Bree Serif;
text-align: center;
color: #BDC7C1;
font-size: 18px;
padding: 0px 0px 0px 0px;}